.vscode
.ipynb_checkpoints
*.ipynb
.mypy_cache
*.py[cod]
*$py.class
.idea
__pycache__
__pycache__/
**/__pycache__/
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
__pypackages__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.DS_Store